<div>
    <h1>Bienvenido {{ name }}</h1>
    <a href="/register" class="button">Register</a> 

    <h3>Datos segun el numero aleatorio</h3>
    <ul>
        <li>Nombre: {{ user.name }}</li>
        <li>Email: {{ user.email }}</li>
    </ul>

    {{!-- <script src="/socket.io/socket.io.js"></script> --}}
    {{!-- <script src="/JS/mainSocket.js"></script> --}}
</div>