<div>
    <h1>Tu perfil (sin datos sensibles)</h1>
    <p>{{user.first_name}}</p>
    <p>{{user.email}}</p>
    <p>{{user.age}}</p>
</div>

{{!-- Si se usa localStorage, descomentar la linea de abajo. Si se usan cookies, entonces se debe comentar --}}
<script src="/JS/users.js"></script>