<div>
  <form class="form" action="/user" method="post">
  <input placeholder="Ingrese su nombre..." class="form-input" type="text" name="name">
  {{!-- <input placeholder="Ingrese su apellido..." class="form-input" type="text" name="surname"> --}}
  {{!-- <input placeholder="Ingrese su edad..." class="form-input" type="number" name="age"> --}}
  {{!-- <input placeholder="Ingrese su telefono..." class="form-input" type="number" name="phone"> --}}
  <input placeholder="Inrese su mail..." class="form-input" type="email" name="email">
  <input placeholder="Inrese su contrasena..." class="form-input" type="password" name="password">
  <input class="form-button" type="submit" value="Send">
</form>
</div>